

<div class="row mr">
    <div class="col-md-3 mb-2">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
              <span class="h-text">Title</span>
              <span class="h-price">$800</span>
          </div>
          <div class="card-subtitle">subtitle</div>
          <div class="progress-bar">
              <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
           </div>
           <div class="percentage">50%</div>
        </div>
      </div>
    </div>
  
    <div class="col-md-3 mb-2">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
                <span class="h-text">Title</span>
                <span class="h-price">$800</span>
            </div>
            <div class="card-subtitle">subtitle</div>
            <div class="progress-bar">
                <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
             </div>
             <div class="percentage">50%</div>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 mb-2">
          <div class="card b">
            <div class="card-body">
              <div class="card-title">
                  <span class="h-text">Title</span>
                  <span class="h-price">$800</span>
              </div>
              <div class="card-subtitle">subtitle</div>
              <div class="progress-bar">
                  <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
               </div>
               <div class="percentage">50%</div>
            </div>
          </div>
        </div>
  
        <div class="col-md-3 mb-2">
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                    <span class="h-text">Title</span>
                    <span class="h-price">$800</span>
                </div>
                <div class="card-subtitle">subtitle</div>
                <div class="progress-bar">
                    <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
                 </div>
                 <div class="percentage">50%</div>
              </div>
            </div>
          </div>
  </div>
  
  
  <div class="row mr">
    <div class="col-md-6 mb-2">
      <div class="card card-sec"> 
        <table class="table">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>AssetsID</th>
                  <th>location</th>
                  <th>user</th>
                </tr>
          </thead>
          <tbody>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
  
              </tr>
              <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
  
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
  
                  </tr>
                  <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
    
                    </tr>
              
  
            </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 ">
        <div class="card card-sec">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>AssetsID</th>
                        <th>location</th>
                        <th>user</th>
                      </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
  
                  </tr>
                  <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
    
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
      
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
        
                        </tr>
                  
  
                </tbody>
              </table>
        </div>
    </div>
  </div>