<h3>Regitration</h3>
<form #form="ngForm" autocomplete="off" class="col-md-8">
    <div class="form-group">
        <input type="text" name="fullname" [(ngModel)]="service.data.fullname" class="form-control">
    </div>
    <div class="form-group">
        <input type="text" name="fullname" [(ngModel)]="service.data.fullname" class="form-control">
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <input type="text" name="fullname" [(ngModel)]="service.data.fullname" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <input type="text" name="fullname" [(ngModel)]="service.data.fullname" class="form-control">
        </div>
    </div>
</form>
 